
*.vsidx
*.lock
HelloCLangAdvanced20230228/.vs/HelloCLangAdvanced20230228/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.tlog
*.recipe
*.ilk
*.log
*.obj
*.idb
*.exe
*.pdb
